#svg {
  width: 600px;
  height: 200px;
  border: 1px solid green;
  margin-bottom: 20px;
}

.axis {
  font-size: 0.9em;

  &-label {
    font-weight: bold;
  }

  &-x > g.tick > text {
    font-style: italic;
    font-weight: bolder;

    &:hover {
      cursor: pointer;
      fill: #e81717;
    }
  }
}

.chart-title {
  font-weight: bold;
}

.chart-bar {
  fill: #74d3eb;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

  &:hover {
    cursor: pointer;
    fill: #17416e;
  }
}

.gridline > g.tick > line {
  stroke: #ececed;
  border: 0px 0px;
}
