.data-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $bar-chart-area-width + $sidebar-area-width;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
  height: 155px;

  .data-selection-area, .description-area {
    display: flex;

    h4 {
      margin: 0px;
      padding: 10px 5px;
      padding-left: 0px;
      white-space: nowrap;
    }
  }

  .data-selection-area {
    flex-direction: row;
  }

  .description-area {
    flex-direction: column;
  }

  select {
    padding: 0px 5px;
    height: auto;
  }
}
