.data-selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;

  p {
    padding: 10px 5px;
  }

  &-list {
    position: relative;
    border: 1px solid black;
    white-space: nowrap;
    width: 356px;
    height: 29px;
    box-sizing: border-box;

    .dropdown {
      position: absolute;
      left: -1px;
      top: 29px;
      border: 1px solid black;
      border-top: none;
      background-color: white;
    }

    .hidden {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .expanded {
    border-bottom: none;
  }

  .current-selection {
  }

  &-item {
    padding: 5px 10px;
    border-bottom: 1px solid gray;

    &:hover {
      background-color: #bdbdbd;
    }
  }

  &-item:last-child {
    border-bottom: none;
  }
}
