.donut-chart-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  font-size: 18px;
}

.donut-chart-container {
  width: $sidebar-area-width;
  height: 400px;

  .donut-chart-center-text {
    font-size: 20px;
  }
}
