/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  font-family: "Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif";
}

ul {
  list-style: none;
}

img {
  display: block;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

.chart-area {
  min-height: 500px;
  min-width: 600px;
  border: 1px solid black;
  font: 1em sans-serif;
  box-sizing: border-box;
}

@media all and (max-width: 900px) {
  .chart-container {
    display: block;
  }
}

@media all and (min-width: 901px) {
  .chart-container {
    display: flex;
  }
}

.data-selection-container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid red;
  box-sizing: border-box;
  padding: 20px;
}

.data-selection-container .data-selection-area, .data-selection-container .description-area {
  display: flex;
}

.data-selection-container .data-selection-area h4, .data-selection-container .description-area h4 {
  margin: 0px;
  padding: 10px 5px;
  padding-left: 0px;
  white-space: nowrap;
}

.data-selection-container select {
  padding: 10px 5px;
}

@media all and (max-width: 900px) {
  .data-selection-container {
    flex-direction: column;
    width: 600px;
  }
  .data-selection-container .data-selection-area {
    flex-direction: row;
  }
  .data-selection-container .description-area {
    flex-direction: column;
  }
  .data-selection-container .description-area h4 {
    padding: 10px 5px;
    padding-left: 0px;
  }
}

@media all and (min-width: 901px) {
  .data-selection-container {
    flex-direction: column;
    width: auto;
  }
  .data-selection-container .description-area {
    flex-direction: column;
  }
  .data-selection-container .description-area p {
    padding-top: 20px;
  }
}

#svg {
  width: 600px;
  height: 200px;
  border: 1px solid green;
  margin-bottom: 20px;
}

.axis {
  font-size: 0.9em;
}

.axis-label {
  font-weight: bold;
}

.axis-x > g.tick > text {
  font-style: italic;
  font-weight: bolder;
}

.axis-x > g.tick > text:hover {
  cursor: pointer;
  fill: #17416e;
}

.chart-title {
  font-weight: bold;
}

.chart-bar {
  fill: #74d3eb;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.chart-bar:hover {
  cursor: pointer;
  fill: #17416e;
}

.gridline > g.tick > line {
  stroke: #ececed;
  border: 0px 0px;
}
