/* PHASE 0: Reset */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  font-family: "Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif";
}

ul {
  list-style: none;
}

img {
  display: block;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.data-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1175px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
  height: 155px;
}

.data-selection-container .data-selection-area, .data-selection-container .description-area {
  display: flex;
}

.data-selection-container .data-selection-area h4, .data-selection-container .description-area h4 {
  margin: 0px;
  padding: 10px 5px;
  padding-left: 0px;
  white-space: nowrap;
}

.data-selection-container .data-selection-area {
  flex-direction: row;
}

.data-selection-container .description-area {
  flex-direction: column;
}

.data-selection-container select {
  font-family: 'Roboto Mono', monospace;
  padding: 0px 5px;
  height: auto;
}

.bar-chart-and-sidebar-container {
  display: flex;
  flex-direction: row;
  width: 1175px;
}

.bar-chart-area {
  display: block;
  height: 600px;
  width: 575px;
  border: 1px solid black;
  font-family: 'Roboto Mono', monospace;
  font-weight: normal;
  font-size: 1em;
  box-sizing: border-box;
}

.axis {
  font-size: 0.9em;
  font-family: 'Roboto Mono', monospace;
}

.axis-label {
  font-weight: normal;
}

.axis-x > g.tick > text {
  font-weight: normal;
}

.axis-x > g.tick > text.active {
  fill: #e81717;
}

.axis-x > g.tick > text:hover {
  cursor: pointer;
}

.axis-x > g.tick > text.hovering-over {
  fill: #e81717;
}

.chart-title {
  font-weight: bold;
}

.chart-bar {
  fill: #74d3eb;
}

.chart-bar.active {
  fill: #17416e;
}

.chart-bar:hover {
  cursor: pointer;
}

.chart-bar.hovering-over {
  fill: #17416e;
}

.gridline > g.tick > line {
  stroke: #ececed;
  border: 0px 0px;
}

.sidebar-container {
  box-sizing: border-box;
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.sidebar-container .panels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.sidebar-container .panels li {
  font-size: 16px;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  text-align: center;
}

.sidebar-container .panels li:hover {
  cursor: pointer;
}

.sidebar-container .panels li.left {
  border-right: 1px solid black;
}

.sidebar-container .query-gist {
  width: 100%;
  height: -webkit-calc( 100% - 50px );
  height: -moz-calc( 100% - 50px );
  height: calc( 100% - 50px );
  overflow-y: auto;
}

.sidebar-container .query-gist code {
  height: 100%;
  width: 100%;
}

.donut-chart-container {
  width: 600px;
  height: 400px;
}

.donut-chart-container .donut-chart-center-text {
  font-size: 20px;
}

.schema-gist {
  width: 750px;
  padding-top: 20px;
}

.schema-gist-toggle-bar {
  font-size: 20px;
  border: 1px solid black;
  padding: 5px 5px;
}

.schema-gist-toggle-bar:hover {
  cursor: pointer;
}

.schema-gist-container {
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  overflow: hidden;
  /* Set our transitions up. */
  -webkit-transition: max-height 600ms linear;
  -moz-transition: max-height 600ms linear;
  transition: max-height 600ms linear;
}

.schema-gist-container.open {
  max-height: 875px;
  margin-bottom: 20px;
}
